.hitRates {
  display: grid;
  row-gap: var(--gap-5);
}

.columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  align-items: start;
  gap: var(--gap-3);
}

.column {
  display: grid;
  grid-template-rows: max-content;
  row-gap: var(--gap-3);
}

.options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--gap-3);
}

.orderBy,
.sortBy {
  display: grid;
  row-gap: var(--gap-3);
}

.hitRate {
  border-radius: var(--radius-size-m);
  background-color: var(--color-background-4);
  padding: var(--gap-3);
}

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 200px;
}
