.block {
  display: grid;
  grid-auto-rows: min-content;
  row-gap: var(--gap-4);
  transition: ease-out .3s;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: var(--radius-size-m);
  background-color: var(--color-background-3);
  padding: var(--gap-5);
  height: 100%;
  color: var(--color-text);
  position: relative;
}

.block.clickable {
  cursor: pointer;
}

.block.clickable:hover {
  transform: translateY(-4px) scale(1.01);
  background-color: var(--color-background-4);
}

.block.disabled {
  transform: none !important;
  opacity: var(--opacity-disabled);
  cursor: default;
  pointer-events: none;
}

@media screen and (max-width: 1024px) {
  .block {
    padding: var(--gap-4);
  }
}

@media screen and (max-width: 640px) {
  .block {
    padding: var(--gap-3);
  }
  
  .block.clickable:hover {
    transform: translateY(-2px) scale(1.01);
  }
}
