.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  border-radius: var(--radius-size-m);
  background-color: var(--color-blue);
  padding: var(--gap-4);
  color: var(--color-text);
}

.menuIcon {
  display: none;
}

.header > :nth-child(1) {
  justify-self: start;
}

.header > :nth-child(2) {
  justify-self: end;
}

@media screen and (max-width: 1279px) {
}

@media screen and (max-width: 767px) {
  .menuIcon {
    display: grid;
    align-items: center;
    cursor: pointer;
  }
}
